
@media (min-width: 768px) {
  .contained-css {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 320px) {
  .contained-css {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 1200px) {
  .contained-css {
    margin-left: 17rem;
    margin-right: 17rem;
  }
}

